<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
	<meta name="generator" content="Jekyll v3.8.5">
	<title>Beranda</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	 crossorigin="anonymous">

	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
        }
        .utama {
            margin-top:30vh;
            padding-left:50vh;
            padding-right:50vh;
            margin-bottom:25vh;
        }

	</style>
	
</head>

<body class="text-center">
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<main role="main" class="inner cover utama">
			<h1 class="cover-heading">Selamat Datang.</h1>
			<p class="lead">Silahkan.</p>
			<p class="lead">
				<a href="/tampil" class="btn btn-lg btn-secondary">Halaman Utama Buku</a>
			</p>
		</main>
		<footer class="mastfoot mt-auto">
			<div class="inner">
				<p> Copyright by DataBuku 2018</p>
			</div>
		</footer>
	</div>
</body>

